.Justifier{
  margin-top: 100px;
}

.background{
  background-color: #D4DAD8;
}

.color-txt{
  color: #434144;
}

.alt-background{
  background-color: #434144;
}

.alt-color-txt{
  color: #D4DAD8;
}

.center-align{
  text-align: center;
}

.left-align{
  text-align: left;
}

.right-align{
  text-align: right;
}