.presentacion{
  padding: 80px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-items: center;

  color: #F2BEA0;
  gap: 20px;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 20px;
  border-radius: 10px;
}

.presentacion__titulo{
  margin: 0;
}

.presentacion__texto{
  margin: 0;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}