.footer-class{
 width: 100%;
 background-color: #0f172a;
 color: white;
 padding-top: 30px;
 padding-bottom: 30px;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 justify-items: center;
}

.contacto__titulo{
  font-weight: bold;
  margin: 7px 0 7px 0;
}

.contacto__item{
  font-weight: normal;
  margin: 5px 0 5px 0;
}

.redes{
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.redes__contenedor{
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  align-content: center;
  justify-content: center;
}

.redes__logo{
  width: 30px;
}

.whatsapp{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.whatsapp_logo{
  width: 50px;
  height: 50px;
}