.Cart__conteiner{
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 5px;
}

.Cart__counter{
  padding-left: 7px;
  padding-right: 7px;
  font-weight: bold;
  border: solid 1px #434144;
}

