.supCont{
  color: #F2BEA0;
  max-width: 1200px;
  margin: 1.5% auto;
}

.contMenu{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  text-align: left;
  width: 100%;

}

.menu__title{
  margin: 0;
}

