.container{
  margin: 0 auto;
  margin-top: 140px;
  max-width: 700px;
  position: relative;
}

.register__form{
  display: grid;
  grid-template-rows: repeat(7, auto);
  gap: 5px;
  color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 40px;
}

.form__title{
  margin: 0;
}

.form__button{
  justify-self: end;
  background-color: #034AA6;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: solid 2px #034AA6;
}

.form__button:hover{
  background-color: white;
  color: #034AA6;
  border: solid 2px #034AA6;
  transition: all 0.25s;
}

.form__subcont{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;
  margin-top: 10px;
}

.subcont__input{
  padding: 5px;
  border-radius: 5px;
  border: solid 1px;
}

.subcont__title{
  margin: 0;
  border-radius: 5px;
  border: none;
  justify-self: start;
}

/* Errores */

.password-error{
  padding: 5px;
  border-radius: 5px;
  border: solid 1px red;
}

.errores{
  position: absolute;
  top: 0px;
  right: -250px;
  color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: 5px;
}

.errores__title{
  margin: 0;
}